<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Property</title>
=======
  <title>PropertyManagApp</title>
>>>>>>> 5f76f3777e7141640b420cf75df063263ec85ed4
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
